<%- include('header') %>
    <div class="page-wrapper">
        <!-- ============================================================== -->
        <!-- Bread crumb and right sidebar toggle -->
        <!-- ============================================================== -->
        <div class="page-breadcrumb">
            <div class="row">
                <div class="col-12 d-flex no-block align-items-center">
                    <div class="ml-auto text-right">
                        <nav aria-label="breadcrumb">
                            <ol class="breadcrumb">
                                <li class="breadcrumb-item"><a href="#">Home</a></li>
                                <li class="breadcrumb-item active" aria-current="page">Library</li>
                            </ol>
                        </nav>
                    </div>
                </div>
            </div>
        </div>
        <!-- ============================================================== -->
        <!-- End Bread crumb and right sidebar toggle -->
        <!-- ============================================================== -->
        <!-- ============================================================== -->
        <!-- Container fluid  -->
        <!-- ============================================================== -->
        <div class="">
            <!-- ============================================================== -->
            <!-- Start Page Content -->
            <!-- ============================================================== -->
            <div class="row">
                <div class="col-md-6">
                    <div class="card">
                       <form action="/editBlog/<%= EditBlog._id %>" method="POST" enctype="multipart/form-data">

                            <div class="card-body">
                                <h4 class="card-title">Personal Info</h4>
                                <div class="form-group row">
                                    <label for="fname"
                                        class="col-sm-3 text-right control-label col-form-label">Title</label>
                                    <div class="col-sm-9">
                                        <input type="text" class="form-control" id="fname" placeholder="Title"
                                            name="title" value="<%= EditBlog.title %>"></input>
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label for="lname"
                                        class="col-sm-3 text-right control-label col-form-label">Description</label>
                                    <div class="col-sm-9">
                                        <input type="text" class="form-control" id="lname" placeholder="Description"
                                            name="description" value="<%= EditBlog.description %>">
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label for="cono1"
                                        class="col-sm-3 text-right control-label col-form-label">Img</label>
                                    <div class="col-sm-9">
                                        <input type="file" class="form-control" id="cono1" placeholder="" name="img" value="<%= EditBlog.img %>">
                                    </div>
                                </div>

                                <div class="form-group row">
                                    <label for="lname"
                                        class="col-sm-3 text-right control-label col-form-label">Category</label>
                                    <div class="col-sm-9">
                                        <input type="text" class="form-control" id="lname" placeholder="Category"
                                            name="Category" value="<%= EditBlog.Category %>">
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label for="lname"
                                        class="col-sm-3 text-right control-label col-form-label">Author</label>
                                    <div class="col-sm-9">
                                        <input type="text" class="form-control" id="lname" placeholder="Author"
                                            name="Author" value="<%= EditBlog.Author %>">
                                    </div>
                                </div>
                            </div>
                            <div class="border-top">
                                <div class="card-body">
                                    <button type="submit" class="btn btn-primary">Update</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>

        <%- include('footer') %>