<%- include('header') %>
    <div class="page-wrapper">
        <!-- ============================================================== -->
        <!-- Bread crumb and right sidebar toggle -->
        <!-- ============================================================== -->
        <div class="page-breadcrumb">
            <div class="row">
                <div class="col-12 d-flex no-block align-items-center">
                    <div class="ml-auto text-right">
                        <nav aria-label="breadcrumb">
                            <ol class="breadcrumb">
                                <li class="breadcrumb-item"><a href="#">Home</a></li>
                                <li class="breadcrumb-item active" aria-current="page">Library</li>
                            </ol>
                        </nav>
                    </div>
                </div>
            </div>
        </div>

        

        <div class="card">
            <div class="card-body text-center">

                <img src="/uploads/<%= BlogData.img %>" width="500">
                <h2>
                    <%= BlogData.title %>
                </h2>

                <p>
                    <%= BlogData.description %>
                </p>

                <p><strong>Category:</strong>
                    <%= BlogData.Category %>
                </p>

                <p><strong>Author:</strong>
                    <%= BlogData.Author %>
                </p>

            </div>
        </div>


        <%- include('footer') %>