<%- include('../header') %>
    <div class="page-wrapper">
        <!-- ============================================================== -->
        <!-- Bread crumb and right sidebar toggle -->
        <!-- ============================================================== -->
        <div class="page-breadcrumb">
            <div class="row">
                <div class="col-12 d-flex no-block align-items-center">
                    <h4 class="page-title">Form Basic</h4>
                    <div class="ml-auto text-right">
                        <nav aria-label="breadcrumb">
                            <ol class="breadcrumb">
                                <li class="breadcrumb-item"><a href="#">Home</a></li>
                                <li class="breadcrumb-item active" aria-current="page">Library</li>
                            </ol>
                        </nav>
                    </div>
                </div>
            </div>
        </div>
        <!-- ============================================================== -->
        <!-- End Bread crumb and right sidebar toggle -->
        <!-- ============================================================== -->
        <!-- ============================================================== -->
        <!-- Container fluid  -->
        <!-- ============================================================== -->
        <div class="container-fluid">
            <!-- ============================================================== -->
            <!-- Start Page Content -->
            <!-- ============================================================== -->
            <div class="row">
                <div class="col-md-6">
                    <div class="card">
                        <form class="form-horizontal" action="/admin/edit/<%= viewData._id %>" method="post"
                            enctype="multipart/form-data">
                            <div class="card-body">
                                <h4 class="card-title">Update Data</h4>
                                <div class="form-group row">
                                    <label for="fname" class="col-sm-3 text-right control-label col-form-label">First
                                        Name</label>
                                    <div class="col-sm-9">
                                        <input type="text" class="form-control" id="fname" placeholder="First Name Here"
                                            name="firstname" value="<%= viewData.firstname %>">
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label for="lname" class="col-sm-3 text-right control-label col-form-label">Last
                                        Name</label>
                                    <div class="col-sm-9">
                                        <input type="text" class="form-control" id="lname" placeholder="Last Name Here"
                                            name="lastname" value="<%= viewData.lastname %>">
                                    </div>
                                </div>
                                <div class="form-group row ">
                                    <label class="col-sm-3 text-right control-label col-form-label">
                                        Gender
                                    </label>

                                    <div class="col-sm-9 d-flex">

                                        <div class="custom-control custom-radio">
                                            <input type="radio" id="male" name="gender" value="Male"
                                                class="custom-control-input" <%=viewData.gender==='Male' ? 'checked'
                                                : '' %>>
                                            <label class="custom-control-label" for="male">Male</label>
                                        </div>

                                        <div class="custom-control custom-radio">
                                            <input type="radio" id="female" name="gender" value="Female"
                                                class="custom-control-input" <%=viewData.gender==='Female' ? 'checked'
                                                : '' %>>
                                            <label class="custom-control-label" for="female">Female</label>
                                        </div>


                                    </div>
                                </div>

                                <div class="form-group row">
                                    <label for="cono1" class="col-sm-3 text-right control-label col-form-label">Contact
                                        No</label>
                                    <div class="col-sm-9">
                                        <input type="text" class="form-control" id="cono1" placeholder="Contact No Here"
                                            name="contact" value="<%= viewData.contact %>">
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label for="cono1"
                                        class="col-sm-3 text-right control-label col-form-label">Img</label>
                                    <div class="col-sm-9">
                                        <input type="file" class="form-control" id="cono1" placeholder="" name="img">
                                    </div>
                                </div>
                            </div>
                            <div class="border-top">
                                <div class="card-body">
                                    <input type="submit" class="btn btn-primary" value="submit"></input>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>

        <%- include('../footer') %>